<div *ngIf="appComponent.isLoggedIn && appComponent.isAdmin"
     class="container d-flex p-0 w-100 h-100 align-items-center justify-content-center">
  <div class=" card-deck m-2 text-dark w-50" id="add-product-form">
    <div class="card bg-transparent">
      <form (ngSubmit)="addProduct()"
            autocomplete="off"
            class="needs-validation"
            id="product-form"
            name="addProductForm"
            novalidate
            style="background-color: rgba(0,0,0,0.55)">
        <label class="image-upload-container btn btn-bwm text-light w-100">
          <span class="me-2">Wybierz zdjęcie</span>
          <input (change)="imagePreview($event)"
                 accept="image/*"
                 class="bg-success"
                 id="image-file" type="file">
        </label>
        <div *ngIf="filePath && filePath !== ''" class="w-100 d-flex justify-content-center">
          <img [alt]="myForm.value.name" [src]="filePath" class="card-img-top w-50">
        </div>
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between w-100">
            <div class="w-50 m-2">
              <select [(ngModel)]="newProduct.category" class="form-select" name="category">
                <option selected>Warzywa cebulowe</option>
                <option></option>
              </select>
            </div>
            <div class="w-50  m-2">
              <select [(ngModel)]="newProduct.name" class="form-select" name="name">
                <option selected>Czosnek pospolity</option>
                <option>iiii</option>
              </select>
            </div>
          </h5>
          <textarea [(ngModel)]="newProduct.description"
                    class="h-100 w-100  m-2" name="comment" name="description">opis ...
                                </textarea>
          <div class="card-title d-flex justify-content-between w-100">
            <input [(ngModel)]="newProduct.price" aria-describedby="ss" class="form-control m-2" id="jakiesid"
                   name="price"
                   placeholder="cena" type="number">
            <input [(ngModel)]="newProduct.amount" aria-describedby="ss" class="form-control m-2" id="jakiesid2"
                   name="amount"
                   placeholder="ilość" type="number">
            <select [(ngModel)]="newProduct.measureType" class="form-select m-2" name="measureType">
              <option>kg</option>
              <option>sztuk</option>
            </select>
          </div>
        </div>
        <button
          class="btn border-0 btn-outline-success shadow-none w-100"
          style="background-color: rgb(204,202,5);"
          type="submit">
          +
        </button>
      </form>
    </div>
  </div>
</div>
