<div *ngIf="appComponent.isLoggedIn" class="d-flex flex-row mb-2 h-100 ">
  <div class=" d-flex p-2 w-100 justify-content-center" style="overflow-y: scroll;">

    <div class="row w-75 h-25 container">
      <div *ngFor="let order of ordersList; let i=index"
           class="container bg-transparent p-0">
        <div
          *ngIf="appComponent.isLoggedIn && appComponent.isAdmin || appComponent.isDriver && order.status != 'Doręczone' || appComponent.isClient"
          class="row w-100 mb-2 shadow-lg p-4 rounded" style="background-color: rgba(255,255,255,0.95)">
          <div class="d-flex justify-content-between">
            <div class="w-75">
              <div class="w-auto">
                <a class="text-success ">{{order.creationDate}}</a>
              </div>
              <div class="w-auto text-dark">
                <a><h5>{{order.createdBy.name + ' ' + order.createdBy.surname}}</h5><h3>ul.
                  <b>
                    {{order.createdBy.address.street + ' ' + order.createdBy.address.houseNumber + ' ' +
                  order.createdBy.address.city + ' ' + order.createdBy.address.zipCode}}
                  </b>
                </h3>
                </a>
              </div>
            </div>
            <div class="w-50 d-flex justify-content-end">
              <select (change)="setDriver($any($event.target).value)" *ngIf="!order.driver && appComponent.isAdmin"
                      class="form-select w-50 mb-2">
                <option selected>Wybierz Kierowcę</option>
                <option *ngFor="let driver of driversList"
                        [value]="order.orderId + '|' + driver.userId">{{driver.name}}</option>
              </select>
              <button (click)="setOrderDelivered($any($event.target).id)" *ngIf="appComponent.isDriver"
                      class="btn border-0 btn-outline-success shadow-none"
                      id="{{order.orderId}}" style="background-color: rgb(204,202,5);"
                      type="button">
                Dostarczone
              </button>
            </div>
          </div>
          <div [attr.aria-controls]="'id'+order.orderId"
               [attr.data-bs-target]="'#id'+order.orderId"
               aria-expanded="false"
               class="btn w-50 h-25 p-1 mt-2 shadow-lg rounded"
               data-bs-toggle="collapse" style="background-color: rgb(204,202,5);">
          </div>
          <div class="collapse " id="id{{order.orderId}}">
            <div class="card card-body">
              <div class="row ">
                <div class="col-14 p-0">
                  <ul *ngFor="let products of order.products" class="list-group w-100 m-0 p-0">
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center border-1 border-bottom">
                      {{products.product.name}}
                      <span class="badge badge-square bg-info">{{products.amount}} x {{products.product.price}}
                        zł = {{products.amount * products.product.price}} zł</span>
                    </li>
                  </ul>
                  <span class="badge badge-square w-100 text-end text-dark"><a
                    class="text-info">SUMA: {{orderSumList[i]}} zł</a></span>
                </div>
              </div>
              <div class="row ">
                <div class="col-6 ">{{order.warnings}}</div>
                <div class="col-6 ">{{order.description}}</div>
              </div>
              <div class="row" style="background-color: rgb(204,202,5);">
                <div *ngIf="order.driver"
                     class="col-6 border-end">{{order.driver.name + ' ' + order.driver.surname}}</div>
                <div *ngIf="!order.driver" class="col-6 border-end">brak</div>
                <div class="col-3 border-end">{{order.payment.name}}</div>
                <div *ngIf="order.status" class="col-3 border-end">{{order.status}}</div>
                <div *ngIf="!order.status" class="col-3">brak statusu</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
