<div class="d-flex flex-row mb-2 h-100 ">
  <div class=" d-flex p-2 w-100 justify-content-center" style="overflow-y: scroll;">

    <div class="row w-75 h-25 container">
      <div *ngFor="let order of ordersList; let i=index"
           class="container bg-transparent p-0 border-2 border-secondary border-bottom">
        <div class="row w-100 mb-2 shadow-lg p-4 bg-body rounded">
          <div class="d-flex justify-content-between">
            <div class="w-auto">
              <a class="text-success ">{{order.creationDate}}</a>
            </div>
            <div class="w-auto">
              <a>{{order.createdBy.name + ' ' + order.createdBy.surname}}</a>
            </div>
            <div class="w-25 d-flex justify-content-between">
              <select (change)="setDriver($any($event.target).value)" *ngIf="!order.driver"
                      class="form-select w-50 mb-2">
                <option selected>Wybierz Kierowcę</option>
                <option *ngFor="let driver of driversList"
                        [value]="order.orderId + '|' + driver.userId">{{driver.name}}</option>
              </select>
              <select (change)="setDriver($any($event.target).value)" class="form-select w-50 mb-2">
                <option selected>Zmień status</option>
                <option *ngFor="let driver of driversList"
                        [value]="order.orderId + '|' + driver.userId">{{driver.name}}</option>
              </select>
            </div>
          </div>
          <div [attr.aria-controls]="'id'+order.orderId"
               [attr.data-bs-target]="'#id'+order.orderId"
               aria-expanded="false"
               class="btn w-100 p-1 mt-2 shadow-lg rounded"
               data-bs-toggle="collapse" style="background-color: rgb(204,202,5);">
          </div>
          <div class="collapse " id="id{{order.orderId}}">
            <div class="card card-body">
              <div class="row ">
                <div class="col-14 p-0">
                  <ul *ngFor="let products of order.products" class="list-group w-100 m-0 p-0">
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center border-1 border-bottom">
                      {{products.product.name}}
                      <span class="badge badge-square bg-info">{{products.amount}} x {{products.product.price}}
                        zł = {{products.amount * products.product.price}} zł</span>
                    </li>
                  </ul>
                  <span class="badge badge-square w-100 text-end text-dark"><a
                    class="text-info">SUMA: {{orderSumList[i]}} zł</a></span>
                </div>
              </div>
              <div class="row ">
                <div class="col-6 ">{{order.warnings}}</div>
                <div class="col-6 ">{{order.description}}</div>
              </div>
              <div class="row" style="background-color: rgb(204,202,5);">
                <div *ngIf="order.driver"
                     class="col-6 border-end">{{order.driver.name + ' ' + order.driver.surname}}</div>
                <div *ngIf="!order.driver" class="col-6 border-end">brak</div>
                <div class="col-3 border-end">{{order.payment.name}}</div>
                <div *ngIf="order.status" class="col-3 border-end">{{order.status}}</div>
                <div *ngIf="!order.status" class="col-3">brak statusu</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
