<div class="d-flex flex-row mb-2 h-100 ">
  <div class=" d-flex p-2 w-100 justify-content-center" style="overflow-y: scroll;">

    <div class="row w-75 h-25 container" >
      <div class="container bg-transparent p-0 border-2 border-secondary border-bottom" *ngFor="let order of ordersList">
        <div class="row w-100 mb-2 shadow-lg p-4 bg-body rounded">
         <div class="d-flex justify-content-between">

           <div class="w-auto">
           <a class="text-success ">{{order.creationDate}}</a>
          </div>

           <div class="w-auto">
             <a>{{order.createdBy.name + ' ' + order.createdBy.surname}}</a>
           </div>

           <div class="w-25 d-flex justify-content-between">
              <select *ngIf="!order.driver" class="form-select w-50 mb-2" (change)="setDriver($any($event.target).value)">
                <option selected>Wybierz Kierowcę</option>
                <option *ngFor="let driver of driversList" [value]="order.orderId + '|' + driver.userId">{{driver.name}}</option>
              </select>
             <select class="form-select w-50 mb-2" (change)="setDriver($any($event.target).value)">
              <option selected>Zmień status</option>
              <option *ngFor="let driver of driversList" [value]="order.orderId + '|' + driver.userId">{{driver.name}}</option>
             </select>
           </div>

         </div>
          <div class="btn w-100 p-1 mt-2 shadow-lg bg-info rounded"
               data-bs-toggle="collapse"
               [attr.data-bs-target]="'#id'+order.orderId"
               aria-expanded="false"
               [attr.aria-controls]="'id'+order.orderId">
        </div>
        <div class="collapse " id="id{{order.orderId}}">
          <div class="card card-body" >
              <div class="row ">
                <div class="col-14 p-0">
                  <ul class="list-group w-100 m-0 p-0" *ngFor="let products of order.products">
                    <li class="list-group-item d-flex justify-content-between align-items-center border-1 border-bottom">
                      {{products.product.name}}
                      <span class="badge badge-square bg-info">{{products.product.price}}</span>
                    </li>
                  </ul>
                  <span class="badge badge-square w-100 text-end text-dark"><a class="text-info">SUMA: 40.8 zł</a></span>
                </div>
              </div>
              <div class="row ">
                <div class="col-6 ">{{order.warnings}}</div>
                <div class="col-6 ">{{order.description}}</div>
              </div>
              <div class="row bg-info">
                <div class="col-6 border-end" *ngIf="order.driver">{{order.driver.name + ' ' + order.driver.surname}}</div>
                <div class="col-6 border-end" *ngIf="!order.driver">brak</div>
                <div class="col-3 border-end">{{order.payment.name}}</div>
                <div class="col-3 border-end" *ngIf="order.status">{{order.status}}</div>
                <div class="col-3" *ngIf="!order.status">brak statusu</div>
              </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
