<div *ngIf="!isLoggedIn" class="container d-flex p-0 w-100 h-100 align-items-center justify-content-center"
     id="sign-in-container">
  <div class="col-md-4 col-sm-12 shadow-lg p-5 w-75 rounded-circle" id="login-user"
       style="background-color: rgba(0,0,0,0.55)">
    <div class="text-center">
      <h3 class="text-light">Logowanie</h3>
    </div>
    <div class="p-4">
      <form (submit)="onSubmit()" action="" class="needs-validation" id="sign-in-form"
            novalidate>
        <div class="d-flex justify-content-center w-100">
          <div class="me-4">
            <div class="input-group mb-3">
                                    <span class="input-group-text w-50"><i
                                      class="bi bi-person-plus-fill text-success">Nazwa użytkownika</i></span>
              <input [(ngModel)]="loginDetails.username" class="form-control" name="username"
                     placeholder="Nazwa użytkownika" required type="text">
              <div class="invalid-tooltip">
                Podaj nazwę użytkownika.
              </div>
            </div>
            <div class="input-group mb-3">
                                    <span class="input-group-text w-50"><i
                                      class="bi bi-key-fill text-success">Hasło</i></span>
              <input [(ngModel)]="loginDetails.password" class="form-control" name="password" placeholder="Hasło"
                     required type="password">
              <div class="invalid-tooltip">
                Podaj hasło.
              </div>
            </div>
          </div>
        </div>
        <div class="w-100 d-flex justify-content-center mx-auto">
          <button class="btn btn-outline-success mt-5 w-25" id="sign-in-button" type="submit"><span></span>Zaloguj
          </button>
        </div>
        <p class="text-center text-light mt-3">Nie masz jeszcze u nas konta?
          <a class="text-info bg-transparent" href="/sign-up">Zarejestruj się</a>
        </p>
      </form>
    </div>
  </div>
</div>
