<nav *ngIf="isLoggedIn" class="navbar navbar-expand navbar-light border-bottom border-1 border-success h-20"
     id="nav-menu"
     style="background-color: rgba(0, 0, 0, 0.6);">
  <div class="container-fluid">
    <a class="navbar-brand  text-light" href="#">GREENGROCER</a>
    <button aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler  text-light"
            data-bs-target="#navbarScroll" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li *ngIf="isLoggedIn && isAdmin || isLoggedIn && isClient" class="nav-item">
          <a aria-current="page" class="nav-link active text-light" routerLink="/products">Produkty</a>
        </li>
        <li class="nav-item">
          <a *ngIf="isLoggedIn && isAdmin"class="nav-link text-light" routerLink="/orders">Zamówienia</a>
          <a *ngIf="isLoggedIn && isClient"class="nav-link text-light" routerLink="/orders">Historia zamówień</a>
          <a *ngIf="isLoggedIn && isDriver"class="nav-link text-light" routerLink="/orders">Moje zlecenia</a>
        </li>
        <li *ngIf="isLoggedIn && isAdmin" class="nav-item">
          <a class="nav-link text-light" routerLink="/add-product">Nowy produkt</a>
        </li>
        <li *ngIf="isLoggedIn && isAdmin" class="nav-item">
          <a class="nav-link text-light" routerLink="/sign-up">Dodaj kierowcę</a>
        </li>
      </ul>
      <button *ngIf="isLoggedIn && isClient && shoppingCartActive" aria-controls="shopping-cart" aria-expanded="false"
              class="btn border-0 btn-outline-success shadow-none me-4"
              data-bs-target="#shopping-cart"
              data-bs-toggle="collapse" id="cart-button" style="background-color: rgb(204,202,5);"
              type="button">
        Koszyk (0)
      </button>
      <button (click)="logout()" *ngIf="isLoggedIn" aria-controls="sign-out" aria-expanded="false"
              class="btn border-0 btn-outline-success shadow-none"
              id="sign-out-button" style="background-color: rgb(204,202,5);"
              type="button">
        Wyloguj | <b><i>{{tokenStorage.getUser()}}</i></b> |
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
