<div class="container d-flex p-0 w-100 h-100 align-items-center justify-content-center">
  <div class="col-md-4 col-sm-12 shadow-lg p-5 w-75" style="background-color: rgba(0,0,0,0.55)">
    <div class="text-center">
      <h3 class="text-light">Tworzenie konta</h3>
    </div>
    <div class="p-4">
      <form action="" class="needs-validation" novalidate>
        <div class="d-flex justify-content-center w-100">
          <div class="me-4">
            <div class="input-group mb-3">
                                    <span class="input-group-text w-50"><i
                                      class="bi bi-person-plus-fill text-success">Nazwa użytkownika</i></span>
              <input class="form-control" placeholder="Nazwa użytkownika" required type="text">
              <div class="invalid-tooltip">
                Podaj nazwę użytkownika.
              </div>
            </div>
            <div class="input-group mb-3">
                                    <span class="input-group-text w-50"><i
                                      class="bi bi-person-plus-fill text-success">Imię</i></span>
              <input class="form-control" placeholder="Imię" required type="text">
              <div class="invalid-tooltip">
                Podaj imię.
              </div>
            </div>
            <div class="input-group mb-3">
                                    <span class="input-group-text w-50"><i
                                      class="bi bi-person-plus-fill text-success">Nazwisko</i></span>
              <input class="form-control" placeholder="Nazwisko" required type="text">
              <div class="invalid-tooltip">
                Podaj nazwisko.
              </div>
            </div>
            <div class="input-group mb-3">
                                    <span class="input-group-text w-50"><i
                                      class="bi bi-envelope text-success">Numer telefonu</i></span>
              <input class="form-control" placeholder="Numer telefonu" required type="text">
              <div class="invalid-tooltip">
                Podaj numer telefonu.
              </div>
            </div>
            <div class="input-group mb-3">
                                    <span class="input-group-text w-50"><i
                                      class="bi bi-envelope text-success">Adres e-mail</i></span>
              <input class="form-control" placeholder="Adres e-mail" required type="email">
              <div class="invalid-tooltip">
                Podaj numer telefonu.
              </div>
            </div>
            <div class="input-group mb-3">
                                    <span class="input-group-text w-50"><i
                                      class="bi bi-key-fill text-success">Hasło</i></span>
              <input class="form-control" placeholder="Hasło" required type="password">
              <div class="invalid-tooltip">
                Podaj hasło.
              </div>
            </div>
          </div>
          <div>
            <div class="input-group mb-3">
                                    <span class="input-group-text w-50"><i
                                      class="bi bi-person-plus-fill text-success">Miasto</i></span>
              <input class="form-control" placeholder="Miasto" required type="text">
              <div class="invalid-tooltip">
                Podaj miasto.
              </div>
            </div>
            <div class="input-group mb-3">
                                    <span class="input-group-text w-50"><i
                                      class="bi bi-person-plus-fill text-success">Ulica</i></span>
              <input class="form-control" placeholder="Ulica" required type="text">
              <div class="invalid-tooltip">
                Podaj ulicę.
              </div>
            </div>
            <div class="input-group mb-3">
                                    <span class="input-group-text w-50"><i
                                      class="bi bi-person-plus-fill text-success">Numer domu</i></span>
              <input class="form-control" placeholder="Numer domu" required type="text">
              <div class="invalid-tooltip">
                Podaj numer domu.
              </div>
            </div>
            <div class="input-group mb-3">
                                    <span class="input-group-text w-50"><i
                                      class="bi bi-person-plus-fill text-success">Kod pocztowy</i></span>
              <input class="form-control" placeholder="Kod pocztowy" required type="text">
              <div class="invalid-tooltip">
                Podaj kod pocztowy.
              </div>
            </div>
          </div>
        </div>
        <div class="d-grid col-12 mx-auto">
          <button class="btn btn-outline-success" type="submit"><span></span>Zarejestruj</button>
        </div>
        <p class="text-center text-light mt-3">Już masz u nas konto?
          <span class="text-info bg-transparent">Zaloguj się</span>
        </p>
      </form>
    </div>
  </div>
</div>
